
*.dll
*.pdb
*.cache
*.sentinel
AssetManager.Api/bin/Debug/net6.0/AssetManager.Api.dll

AssetManager.Application/bin/

AssetManager.Application/obj/

AssetManager.Api/bin/

AssetManager.Api/obj/

IdentityServer/obj/

AssetManager.Infrastructure/bin/

AssetManager.Infrastructure/obj/

AssetManager.Domain/bin/

AssetManager.Domain/obj/

AssetManager.Identity/obj/
